{% extends 'base.html.twig' %}


{% block title %}Films & Séries{% endblock %}
{% block stylesheets %}{{encore_entry_link_tags('movieStyle')}}{% endblock %}

{% block body %}
<div class="slide" id="mediaPage">
    <div class="wrapper">
        <div class="mediaPage_heading flex justify-between wrap">
        <div>
            <h2 class="display-xl object uppercase font-bold mb-4 color-tertiary">Films <span class="color-primary">&</span> Séries</h2>
            <p class="text-lg urbanist color-primary md:w-6/12">Découvrez les films et séries incontournables. Explorez les dernières sorties, plongez dans les classiques et laissez-vous guider par notre sélection pour enrichir vos soirées cinéma.</p>
        
        </div>
        {% include "partials/_search.html.twig" %}

        
        </div>
        <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-5 w-full">
    {% for media in medias %}
   {% include "partials/_card_media.html.twig" with {'media': media} %}
    {% endfor %}
</div>

    
    </div>

    {{ pagination.display() }}

    {% include 'partials/_trailer_modal.html.twig' %}
    
</div>

    {# <form action="{{ path('medias') }}" method="get" class="mb-4">
        <input type="text" name="search" placeholder="Rechercher un titre" value="{{ search }}" class="px-4 py-2 border rounded-md">
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2">Rechercher</button>
    </form> #}


{% endblock %}
