
{% extends "/base/settings.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block content_settings %}

    {{form_start (myForm)}}
    {{form_widget (myForm)}}
    <button type="submit" class="text-lg bg-tertiary rounded-md color-secondary py-2 px-4">Mettre à jour le mot de passe</button>
    {{form_end (myForm)}}

{% endblock %}

