@import "../variables/variables.scss";
.sliderRev{
    .swiperRev{
    .cardReviews{
        flex-direction: row;
        width: 100% ;
        height: max-content;
        p{
            width: 100%;
        }
        &_image{
            width: 40%;
        }
        &_infos{
            width: 60%;
        }
    }
    .swiper-slide{
        overflow: hidden;
      padding-left: 4.5%;
      margin-right: 0 !important;
    
    }
   
}
.controls {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: solid 1px $color-secondary;
    border-radius: $radius-full;
    transition: all 0.3s;

    &:hover{
        background-color: $color-tertiary;
        
        span{
            color: $color-secondary;
        }
    }
    span{

        color: $color-tertiary;
        font-size: 25px;
        user-select: none;
    }
}

@media all and (max-width:1200px) {
    .cardReviews{
        flex-direction: column !important;
        width: 89% !important;
        margin: 0 auto !important;
        &_image,&_infos{
            width: 100% !important;
        }
    }
    .swiperRev{

        .swiper-slide{
            padding: 0;
        }
        .swiper-wrapper{
            gap: 0 !important;
        }

    }
    
}


}

