@import "../variables/variables.scss";
.cardReviews{
    border-radius: $radius-3xl;
    background-color: white;
    box-shadow: 0 4px 25px rgba(161, 81, 222, 0.15);
    &_image {
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.25);
            }
        }

    }
    
    .font-semibold{
        font-weight: bold;
    }
    &_infos_author{
        .button_text{
            font-family: 16px !important;
        }
    }

}