{% block stylesheets %}
{{encore_entry_link_tags('sliderRevStyle')}}
{% endblock %}
<div class="sliderRev bg-secondary overflow-hidden flex flex-col gap-5">
        <div class="wrapper pt-24">
            <div class="slide_reviews flex flex-col gap-10">
                <div class="slider_reviews_heading flex justify-between w-full flex-wrap gap-5">
                    <h2 class="display-xl object uppercase lg:w-3/5 max-md:w-full" data-aos="fade-right" data-aos-duration="1000">Découvrez les dernières <span class="color-tertiary">Reviews</span></h2>
                    <div class="h-fit" data-aos='fade-left' data-aos-duration='1000'>
                        {% include "partials/_button.html.twig" with {'text': "Voir toutes les reviews", "href": path('reviews_index')} %}
                    </div>
                    
                </div>

            </div>
        </div>

    <div class="flex flex-col gap-4 relative">
        <div class="swiperRev flex overflow-hidden relative">
            <div class="swiper-wrapper flex gap-6">
                {% for review in latestReviews %}
                    <!-- Swiper Slide -->
                    <div class="swiper-slide w-full"data-aos="zoom-in" data-aos-delay="{{ loop.index * 200 }}" data-aos-duration="1000">
                        {% include "partials/_card_reviews.html.twig" with {'review': review, 'maxLength': 200} %}

                    </div>

                {% endfor %}

            </div>
        </div>
        <div class="wrapper">
            <div class="swiper-nav flex gap-5">
                <div class="flex justify-center controls items-center">
                    <span class="material-symbols-outlined swiper-button-prevr">
                        chevron_left
                    </span>
                </div>

                <div class="flex justify-center controls items-center">
                    <span class="material-symbols-outlined swiper-button-nextr">
                        chevron_right
                    </span>
                </div>

            </div>
        
        </div>
    
    </div>
</div>

{% block javascripts %}
{{encore_entry_script_tags('sliderReview')}}
{% endblock %}