<footer class="bg-purple-900 py-24">
    <div class="container mx-auto text-center">
        <p class="text-white font-semibold text-lg urbanist">© 2024 MovieRev - Admin Panel by @DylanQUENON</p>
    </div>
</footer>
