@import "./variables/variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.slide{
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
}

.button_trailer{
    padding: $spacing-md $spacing-xl;
    border-radius: $radius-4xl;
    transition: all 0.3s;
    &:hover{
        background-color: #D0ABEE;
        color: $color-primary;
    }
}