@import "./variables/variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
}

.slide{
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
}

.button_trailer{
    padding: $spacing-md $spacing-xl;
    border-radius: $radius-4xl;
    transition: all 0.3s;
    z-index: 999;
    position: relative;
    &:hover{
        background-color: #D0ABEE;
        color: $color-primary;
    }
}
/* Personnalisation générale de la police du tooltip */
.tippy-box {
    font-family: $font-family-urbanist;
    background-color: $color-tertiary;
    color: $color-secondary;
 
}


.tippy-arrow {
    color: $color-tertiary; /* Couleur de la flèche */
  }
/* Exemple d'effet scale */
.tippy-box[data-theme~='scale-theme'] {
  transition: transform 0.2s ease-in-out;
}

.tippy-box[data-theme~='scale-theme'][data-state='visible'] {
  transform: scale(1);
}

.tippy-box[data-theme~='scale-theme'][data-state='hidden'] {
  transform: scale(0.9);
}
.pagi{
    font-family: $font-family-urbanist;
    font-weight: 600;
}
.pagination{
    a,span{
        transition: all 0.2s;
    }

}

#searchNews{

  #search-form input{

    padding-left: 40px;
    margin-right: 10px
  }


  #search-input-news{
    border-radius: 80px;
    box-shadow: none;
    outline: none;
    background-color: $color-secondary;
    border: solid 1px $color-tertiary;
    font-family: $font-family-urbanist;
    font-size: $text-font-size-md;
    color: $color-tertiary;
    z-index: 5;
    &::placeholder{
      color: $color-tertiary;
    }
  }

  #search-results-news ul li{
    border-bottom: 1px solid $color-tertiary;
    border-spacing: 1rem;
    font-family: $font-family-urbanist;
    font-size: $text-font-size-md;
    padding: 8px;

    
    transition: all 0.3s;
    
    a{
        
        font-weight: 600;
      border: none;
      text-decoration: none;
      }
      
    &:last-of-type{
        border:none;
    }
  }
  #search-results-news ul li a,#search-results .dropdown-item{
    color: $color-tertiary!important;
  }
  #search-results-news{
    background: white;
    border-radius: 20px;
    width: 400px;
    top: 68%;
    z-index: 2;
 
  }

  #search-form input{
    // position: relative;
    padding-left: 40px;
    &::placeholder{
        color: $color-tertiary;
    }
  }
  .search-bar{
    z-index: 20;
  }
   
  



}

#search-form input{

    padding-left: 40px;
    margin-right: 10px
  }
    #search-form{
      i{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: $color-secondary !important;
        z-index: 5;
      }
  
      
    }
  #search-input{
    border-radius: 80px;
    box-shadow: none;
    outline: none;
    background-color: $color-secondary;
    border: solid 1px $color-tertiary;
    font-family: $font-family-urbanist;
    font-size: $text-font-size-md;
    color: $color-tertiary;
    z-index: 5;
    &::placeholder{
      color: $color-secondary;
    }
  }

  #search-results ul li{
    border-bottom: 1px solid $color-tertiary;
    border-spacing: 1rem;
    font-family: $font-family-urbanist;
    font-size: $text-font-size-md;
    padding: 8px;

    
    transition: all 0.3s;
    
    a{
        display: flex;
        gap: $spacing-2xl;
        font-weight: 600;
      border: none;
      text-decoration: none;
      }
      
    &:last-of-type{
        border:none;
    }
  }
  #search-results ul li a,#search-results .dropdown-item{
    color: $color-tertiary!important;
  }
  #search-results{
    background: white;
    border-radius: 20px;
    width: 400px;
    top: 68%;
    z-index: 2;
 
  }

  #search-form input{
    // position: relative;
    padding-left: 40px;
    &::placeholder{
        color: $color-tertiary;
    }
  }
  .search-bar{
    z-index: 20;
  }
    #search-form{
      i{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: $color-tertiary !important;
        z-index: 5;
      }
  
      
    }
    #trailerModal{
      z-index: 999;

    }
.choices{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  &__inner{
    background-color: white !important;
    border-radius: $radius-4xl;
  }
  .choices__list--multiple .choices__item{
    background-color: $color-tertiary;
    font-size: $text-font-size-md;
    color: $color-secondary;
    button{
      border:none;
    }
  }
  &__input{
    @apply bg-white;
  }
  input[type="search"]{
    @apply ml-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  
  }
}

#page404{
  .text404{
    font-size: 200px;
    font-family: $font-family-object;
    @include background('/public/images/404.jpg');
    background-position: -20px -30px;
    background-clip: text;
    -webkit-background-clip: text; /* Support pour WebKit */
    color: transparent;
    
  }
  .text403{
    font-size: 200px;
    font-family: $font-family-object;
    @include background('/public/images/403.jpg');
    background-position: -20px -30px;
    background-clip: text;
    -webkit-background-clip: text; /* Support pour WebKit */
    color: transparent;
    
  }
}
.no-scroll {
  overflow: hidden;
}