@import "../variables/variables.scss";

.slider_baseform {
    .swiper{
        display: flex;
        overflow: hidden !important;
        max-width: 100%;
        min-width: 100%;
        position: relative;
    }
    .swiper-wrapper{
        display: flex;
       }
    .swiper-slide {

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        border-radius: 100px 0 0 100px;
        transform: translate3d(none) !important;
       
    

        // Ajout de l'overlay
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(50%); // Applique le filtre ici
            z-index: 1; // S'assurer qu'il est au-dessus de l'image
        }

        .swiper-slide-content {
            position: relative; // Garde le contenu au-dessus du filtre
            z-index: 2;
            color: white; // Couleur du texte pour qu'il contraste bien avec le fond
        }
        .info-secondary{
            padding: 10px 20px;
            background-color: rgba(255, 255, 255,0.3);
            border-radius: $radius-3xl;
            backdrop-filter: blur(25px);
            .author{
                @media all and (max-width:640px) {
                    font-size: 1.5rem !important;
                    
                }
            }
        }
    }

    .controls_slider{
        position: absolute;;
        bottom: 80px;
        right: 40px;
        color: white;
        gap: $spacing-4xl;
        transition: all 0.3s;
        z-index: 5;
        &_arrow{
            width: 50px;
            height: 50px;
            @include flex(row);
            border-radius:$radius-full;
            border: solid 1px $color-secondary;
            cursor: pointer;
            &:hover{
                backdrop-filter: blur(150px);
                background-color: rgba(160, 81, 222,0.7);
            }
        }
        span{
            font-size: 32px;
            display: block;
            z-index: 5;
            position: relative;
        }

          
    }

    
}
.login{
    .relative{
        span{
            position: absolute;
            right: 5%;
            top: 30%;
            color: $color-tertiary;
            cursor: pointer;
        }

    }
    input{
 
        &::placeholder{
            color: $color-tertiary;
        }
    }
    .submit button{
           margin-top: $spacing-4xl;
           transition: all 0.2s;
    }
    form .mb-4{
        @include flexGap(column,$spacing-lg)
    }
}