@import "../variables/variables.scss";

body{
    overflow-x: hidden;
}
#home{
    min-height: 100vh;
    padding: $spacing-9xl 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media all and (max-width: 992px) {
       
        background-position: 100% center;
    }
    .wrapper{
     
        position: relative;
    }
    .jumbotron{
        padding: $spacing-9xl 0;
        z-index: 10;
        position: relative;
        @include flexGap(column, $spacing-4xl);
        .items_info{
            border-right: solid 1px $color-secondary;
            &:last-child{
                border-right: none;
            }
            i{
                // color: #FFDB1E;
                font-size: 20px;
            }
        }
        &_content{
            @include flexGap(column, $spacing-4xl);
            &_heading{
                @include flexGap(column, $spacing-lg);
            }
        }


        &_actions{
            gap: $spacing-2xl;
            a{
                padding: $spacing-md $spacing-xl;
                border-radius: $radius-4xl;
                transition: all 0.3s;
                &:hover{
                    background-color: #D0ABEE;
                    color: $color-primary;
                }
            }
          
        }
    }
}
.shadow{
    width: 1000px;
    height: 100vh;
    background-color: rgba(30, 30, 30,0.8);
    border-radius: 100%;
    filter: blur(150px);
    position: absolute;
    left: -20%;
    top: 0%;
    z-index: 5;
}
.shadowWhite{
    width: 119%;
    height: 30vh;
    background-color: rgb(245, 245, 245);
    filter: blur(15px);
    position: absolute;
    left: -40px;
    bottom: -130px;
    z-index: 6;
    @media all and (max-width:1400px) {
        display: none;
        
    }
  

}
.swiper {
   display: flex;
   overflow: hidden !important;
   max-width: 100%;
   min-width: 100%;
   position: relative;
   @media all and (max-width:1400px) {
       &::after{
        width: 119%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    filter: blur(15px);
    position: absolute;
    left: -40px;
    bottom: -137px;
    content: '';

   }
    
}

   .swiper-wrapper{
    display: flex;
   }
    
  }

@media all and (max-width: 640px) {

    .shadow{
        background-color: rgba(20, 20, 20,0.5);
    }
    .jumbotron_infos_secondary{
        gap: 12px !important;
        font-size: $text-font-size-md !important;
        // &>{
        //     width: 100% !important;
       
        // }
        .items_info{
            padding-right: 0.5rem !important;
            span,p{
                font-size: $text-font-size-md !important;
            }
        }
    }
    .wrapper{
        width: 90% !important;
    }

    iframe{
        width: 350px !important;
        height: 300px !important;
    }

}

.swiper-pagination{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: $spacing-lg;
    z-index: 7;

}

.swiper-pagination-bullet{
    width: 100px !important;
    height: 12px !important;
    border-radius: 100px;
    background-color: $color-secondary !important;

    &-active{
        background-color: $color-tertiary !important;
    }

}
#presentation{
    z-index: 7;
    padding: $spacing-9xl 0;

    .wrapper{
        @include flexGap(column,$spacing-9xl)
    }

    .heading{
        gap: $spacing-4xl;
        h1{
            @media all and (max-width:640px) {
                width: 100%;
           
            }
        }
        p{
            @media all and (max-width:640px) {
                width: 100%;
           
            }
        }
        .team_discover{
            display: flex;
            flex-direction: column;
            gap: $spacing-2xl;
            align-items: center;
        }
        a{
            padding: $spacing-md $spacing-xl;
            transition: all 0.23s;
            &:hover{
                background-color: $color-tertiary;
                color: $color-secondary;
                border: solid 2px  $color-primary;
                span{
                    color: $color-secondary;
                }
            }
        }
        .team-head{
            display: flex;
            justify-content: center;
            width: 100%;
            transform: translateX(8%);
            .roundPic {
                width: 66px;
                height: 66px;
                border-radius: $radius-full;
                border: solid 2px $color-tertiary;
                background-color: red;
                position: relative;
              
                @for $i from 1 through 10 {
                  &:nth-child(#{$i}) {
                    z-index: #{11 - $i}; // Z-index décroissant pour que chaque enfant soit au-dessus de celui d'après
                    left: -#{($i - 1) * 15}px; // Décalage de 10px pour chaque élément supplémentaire
                  }
                }
              
                &:nth-child(2n+1) {
                  background-color: #FFDB1E;
                }
              
              }
              
            
        }
    }

    .cards_stats{
        padding: $spacing-5xl $spacing-2xl;
        background-color: #ffff;
        border-radius: $radius-3xl;
        box-shadow: 0 4px 25px rgba(160, 81, 222,0.15);
        @include flexGap(column,$spacing-6xl);

        .cards_stats_high{
        @include flexGap(column,$spacing-xl);

        }
        .heading_card{
        @include flexGap(column,$spacing-2xl);
            .square_icons{
                width: 40px;
                height: 40px;
                border-radius: $radius-sm;
                @include flex(row);
                &:nth-child(1){
                    background-color: rgba(208, 171, 238,0.3);
                    border: solid 2px $color-tertiary;
                    span{
                        color: $color-tertiary;
                    }

                }

        
         
            }
            h4{
                width: 85%;
            }
            
        }
        .button_card{
            display: flex;
            justify-content: end;
            width: 100%;
            a{
                padding: $spacing-md $spacing-xl;
                background-color: $color-tertiary;
                color: $color-secondary;
                border: solid 2px $color-tertiary;
                border-radius: $radius-full;
                transition: all 0.3s;
                span{
                    color: $color-secondary;
                }
                &:hover{
                    background-color: rgba(160, 81, 222,0.15);
                    border: solid 2px $color-tertiary;
                    color: $color-tertiary;
                    span{
                        color: $color-tertiary;
                    }
                }
            }
        }
        
    }

    .row_cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }
    #Actualités .square_icons {
        background-color: rgba(163, 165, 229,0.3);
        border: solid 2px #A3A5E5;
        span{
            color: #A3A5E5;
        }

    }
    #Communauté .square_icons{
        background-color: rgba(70, 237, 217,0.3);
        border: solid 2px #46EDD9;
        span{
            color: #46EDD9;
        }

    }

    .our_values{
        @include flexGap(column,$spacing-4xl);
        .our_values_content{
            @include flexGap(column,$spacing-4xl);
            &_img{
                img{
                    height: 88px;
                }
            }
        }
     
    }

    .graphics_love{
        flex-wrap: wrap;
        .bubble{
            @include flex(row);
            border-radius: 100px;
            span{
                font-size: 150px;
            }
            
        }
        .bubble1,.bubble3{
            width: 20%;
            height: 200px;
            @media all and (max-width:768px) {
                width: 100%;
                height: 150px;
            }
        }
        .bubble2,.bubble4{
            width: 30%;
            height: 200px;
            @media all and (max-width:768px) {
                width: 100%;
                height: 150px;
            }
        }
        .bubble1{
            background-color: $color-tertiary
        }
        .bubble3{
            background-color: #D0ABEE;
        }
        .bubble2{
            @include background("/public/images/bubble1.jpeg");
        }
        .bubble4{
            @include background("/public/images/bubble2.webp");
        }
    }
}
.sliderRev{
    background-color: white !important;
    .wrapper{
        padding-top: 40px;
    }
    .swiper-slide{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 25px;
        overflow: hidden !important;
    }
}
.newsSlider{
    padding-top: 40px 0;
}