@import "../variables/variables.scss";

.banneerCover{
    overflow: hidden;
    position: relative;
    img{
      height: 30rem;
      width: 100%;
      object-fit: cover;
    }
    
    &::after{
        width: 119%;
        height: 30vh;
        background-color: $color-secondary;
        filter: blur(15px);
        position: absolute;
        left: -40px;
        bottom: -160px;
        content: ''
    }
  }

.wrapper{
    padding: $spacing-9xl 0;
    .media_presentation{
        .info2{
            padding: 4px 12px;
            border-radius: 100px;
            font-weight: bold;
            &.rating{
                background-color: rgba(255, 216, 30,0.3);
                i{
                    color: #FFD81E;

                }
            }
            &.reviews{
                background-color: #FFFFFF;
            }
        }
        .genres{
            background-color: rgba(160, 81, 222,0.15);
            border: solid 1px $color-tertiary;
            color: $color-tertiary;
        }
        img{
            border-radius: $radius-4xl;
            box-shadow: 0 4px 25px rgba(165, 30, 223,0.3);
            height: fit-content
        }
        &_content{
            &_global{
                @include flexGap(column,$spacing-2xl);
            }
            &_left{
                @include flexGap(column,$spacing-4xl);
                &_actions{
                    a{
                        padding: $spacing-md $spacing-xl;
                        border-radius: $radius-full;
                        border: solid 1px $color-tertiary;
                        color: $color-tertiary;
                        &:hover{
                            background-color: #d99ef5;
                            color: $color-primary;
                            span{
                             
                                color: $color-primary;
                            }
                        }

                    }
                    &>*{
                        transition: all 0.3s;
                        &:hover{
                            background-color: #d99ef5;
                            color: $color-primary;
                            span{
                             
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            &_right{
                @include flexGap(column,$spacing-5xl);
          
                .people{
                    position:relative;
                    padding-top: 17px;
                    ::before{
                        position: absolute;
                    top: -2%;
                    content: '';
                    border-radius: 2px;
                    width: 215px;
                    left: 0;
                    height: 2px;
                    background-color: $color-tertiary;
                }
            }
            @media screen and (max-width: 640px) {
                transform: translateY(0%);
            }
            }
        }
    }
}
.synopsis-short {
    display: inline;
}
.synopsis-full {
    display: none;
}
.podium{
    font-family: $font-family-urbanist;
    font-weight: bold;
    font-size: 240px;
    top: -25%;
    left: -10%;
}
.cardReviews{
    position: relative;
    z-index: 2;
}
.media_card{
    @include flexGap(column,$spacing-sm);
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: $radius-4xl;
    box-shadow: 0 4px 25px rgba(160, 81, 222,0.15);
    overflow: hidden;
    margin-bottom: 16px;
    transition: all 0.3s;
    &:hover{
        // transform: translateY(-20px);
        img{
            transform: scale(1.2);
        }
     
    }
    .photos{
        height: 300px;
        position: relative;
        width: 100%;
        overflow: hidden;
    }


    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
        transition: all 0.3s;
    
        
        
    }
 
  
    &_infos{
        @include flexGap(column,$spacing-2xl);
        padding: 10px 20px;
        
        .saving_list{
            width: 50px;
            height: 50px;
            border: solid 2px $color-tertiary;
            border-radius: 100%;
            background-color: $color-secondary;
            cursor: pointer;
            @include flex(row);
             position: absolute;
             top: 5%;
             right: 2%;
            border-radius: 100%;
            transition: all 0.2s;
            &:hover{
                background-color: $color-tertiary;
                color: $color-secondary;
                border-color: $color-secondary;
                span{
                    color: $color-secondary;
                }
            }
            span{
                font-size: 35px;
            }
         
        }
        &_content{
            @include flexGap(column,$spacing-2xl);
        }
    }
    &_actions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   gap: 20px;

        .actions{
            padding: $spacing-md $spacing-xl;
            border-radius: $radius-4xl;
            transition: all 0.3s;
            background-color: $color-tertiary;
            color: $color-secondary;
            width: fit-content;
            &:hover{
                background-color: #D0ABEE;
                color: $color-primary;
            }
        }
    }

}
button{
    background-color: $color-secondary;
    border:solid 1px $color-tertiary;
    color: $color-tertiary;
    font-size: $text-font-size-md;
    &:hover{
        background-color: #D0ABEE;
        color: $color-primary;
    }
}