@import "../variables/variables.scss";
#mediaPage{
    padding: $spacing-9xl 0;
    background-color: $color-secondary;
    .mediaPage_heading{
        @include flexGap(column,$spacing-md)
    }
    .wrapper{
        @include flexGap(column,$spacing-6xl)

    }


  
}
.filters{
    gap: 20px;
    select{
        font-family: $font-family-urbanist;
        
    }
    span{
        color: $color-tertiary;
    }
}