@import "../variables/variables.scss";
#mediaPage{
    padding: $spacing-9xl 0;
    background-color: $color-secondary;
    .mediaPage_heading{
        @include flexGap(column,$spacing-md)
    }
    .wrapper{
        @include flexGap(column,$spacing-6xl)

    }

    .media_card{
        @include flexGap(column,$spacing-sm);
        background-color: #FFFFFF;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        border-radius: $radius-4xl;
        box-shadow: 0 4px 25px rgba(160, 81, 222,0.15);
        overflow: hidden;
        margin-bottom: 16px;
        transition: all 0.3s;
        &:hover{
            // transform: translateY(-20px);
            img{
                transform: scale(1.2);
            }
         
        }
        .photos{
            height: 300px;
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    
    
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            width: 100%;
            transition: all 0.3s;
        
            
            
        }
     
      
        &_infos{
            @include flexGap(column,$spacing-2xl);
            padding: 10px 20px;
            
            .saving_list{
                width: 50px;
                height: 50px;
                border: solid 2px $color-tertiary;
                border-radius: 100%;
                background-color: $color-secondary;
                cursor: pointer;
                @include flex(row);
                 position: absolute;
                 top: 5%;
                 right: 2%;
                border-radius: 100%;
                transition: all 0.2s;
                &:hover{
                    background-color: $color-tertiary;
                    color: $color-secondary;
                    border-color: $color-secondary;
                    span{
                        color: $color-secondary;
                    }
                }
                span{
                    font-size: 35px;
                }
             
            }
            &_content{
                @include flexGap(column,$spacing-2xl);
            }
        }
        &_actions{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       gap: 20px;

            .actions{
                padding: $spacing-md $spacing-xl;
                border-radius: $radius-4xl;
                transition: all 0.3s;
                background-color: $color-tertiary;
                color: $color-secondary;
                width: fit-content;
                &:hover{
                    background-color: #D0ABEE;
                    color: $color-primary;
                }
            }
        }

    }
    button{
        background-color: $color-secondary;
        border:solid 1px $color-tertiary;
        color: $color-tertiary;
        font-size: $text-font-size-md;
        &:hover{
            background-color: #D0ABEE;
            color: $color-primary;
        }
    }

  
}
.filters{
    gap: 20px;
    select{
        font-family: $font-family-urbanist;
        
    }
    span{
        color: $color-tertiary;
    }
}