@import "../variables/variables.scss";
#newsPage{
    background: $color-secondary;
    .wrapper{
        padding: $spacing-9xl 0;
        @include flexGap(column,$spacing-2xl)
    }
}

.filters{
    select{
        font-family: $font-family-urbanist;
        
    }
    span{
        color: $color-tertiary;
    }
}