{# templates/emails/acceptance_email.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre candidature a été acceptée</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Ajoutez votre CSS personnalisé ici, si nécessaire */
    </style>
</head>
<body class="bg-gray-100 p-6 text-lg urbanist">
    <div class="container mx-auto max-w-lg bg-white rounded-lg shadow-lg p-6">
        <h1 class="text-2xl font-bold text-purple-600  mb-4">Félicitations !</h1>
        <p class="text-gray-700 mb-4">Votre candidature pour le rôle de <span class="font-semibold">{{ role }}</span> a été acceptée !</p>
        <p class="text-gray-700 mb-6">Bienvenue dans notre équipe. Nous sommes ravis de vous avoir avec nous !</p>
        <div class="footer mt-8">
            <p class="text-gray-600">Merci,</p>
            <p class="text-gray-600 font-semibold">L'équipe Movierev</p>
        </div>
    </div>
</body>
</html>
